.ca-header-dashboard{
    height: 90px;
}

#ca-login-user-content{
    width: 100%;
    display: flex;
}

.ca-user-links{
    padding: 10px;
    box-shadow: 6px 0px 5px #aaaaaa;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.ca-responsive-user-links{
    display: none;
}

.ca-user-profile-photo{
    margin-top: 30px;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
}

.ca-user-profile-photo img{
    width: 80%;
    border-radius: 50%;
}

.ca-user-options{
    margin-top: 80px;
    margin-left: 30px;
}

.ca-user-option-list{
    line-height: 60px;
}

.ca-user-option-list > a{
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

#ca-logout{
    margin-top: 70px;
}

.ca-user-footer{
    margin-top: 0;
}

.ca-user-info{
    padding: 10px;
    flex: 1;
}

.ca-dashboard-info{
    padding-left: 30px;
    padding-top: 30px;
    width: 100%;
}

.ca-dashboard-heading{
    font-size: 30px;
}

.ca-user-options-dropdown{
    /* display: none; */
}

.ca-user-options-label{
    font-size: 20px;
}

@media only screen and (max-width: 800px) {
    #ca-login-user-content{
        display: block;
        width: 100%;
    }

    .ca-user-links{
        display: none;
    }

    .ca-responsive-user-links{
        width: 100%;
        display: flex;
        height: 90px;
        margin-top: 0;
        padding: 10px;
    }

    .ca-responsive-user-profile-photo{
        margin-top: 0;
        padding: 0 0px 0 10px;
        text-align: left;
        width: 50%;
    }

    .ca-responsive-user-profile-photo img{
        height: -webkit-fill-available;
        border-radius: 50%;
    }

    .ca-responsive-user-options{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    .ca-user-options-dropdown{
        position: absolute;
    }

    #ca-logout{
        margin-top: 0px;
    }
}