.ca-footer{
    margin-top: 30px;
    background-color: #2b6477;
    min-height: 85px;
    width: 100%;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ca-footer-content{
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: justify;
    padding: 0 15px;
}