.ca-main-section-container{
    margin-top: 30px;
}

#aboutus{
    text-align: center;
}

.ca-section-container{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 35px;
    height: 400px;
    margin-bottom: 20px;
}

.ca-section-parent-container :nth-child(2n){
    flex-direction: row-reverse;
}

.ca-section-content{
    width: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.ca-section-content p{
    padding: 2.5rem;
    line-height: 27px;
    font-size: 18px;
}

.ca-section-content h2{
    letter-spacing: 3px;
}

.ca-section-image{
    width: 50%;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.ca-section-image img{
    width: 100%;
    height: 100%;
}