*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    background-color: inherit;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
span{
    display: block;
}